<h4>@ViewBag.Committee["name"]</h4>
<h5>Committee Members:</h5>
<ul>
    @foreach(var member in ViewBag.CommitteeMembers)
    {
        <li>@member["title"] <a class="bill-name" onclick="committeeLegislatorDetail('@member["legislator"]["bioguide_id"]')">@member["legislator"]["first_name"] @member["legislator"]["last_name"] </a></li>

    }
</ul>
@if (ViewBag.IsSubCommittee)
{
    <h5>Subcommittees</h5>
    <h4>This is a subcommittee, the parent committee is @ViewBag.ParentCommittee["name"]</h4>
}
else
{
    <ul>

        @foreach (var committee in ViewBag.SubCommittees)
        {
            <li>@committee["name"]</li>
        }
    </ul>
}