@{
}
@foreach(var call in ViewBag.Calls)
{
    <h6>@call.CallType: @call.Description</h6>

}

<h4>@ViewBag.Legislator["first_name"] @ViewBag.Legislator["last_name"]</h4>
<img class="img-thumbnail" src="@ViewBag.Image" />
<h1>Committees</h1>
<ul>
    @foreach (var committee in ViewBag.Committees)
    {
        <li><a class="committee-name" onclick="committeeDetail('@committee["committee_id"]')">@committee["name"]</a></li>
    }
</ul>
<h3>Bills</h3>
<ul>
    @foreach (var bill in ViewBag.Bills)
    {

        @if (bill["short_title"] != null)
        {
            <li><a class="bill-name" onclick="billDetail('@bill["bill_id"]')">@bill["short_title"]</a></li>
        }
        else
        {
            <li><a class="bill-name" onclick="billDetail('@bill["bill_id"]')">@bill["official_title"]</a></li>
        }
    }
</ul>
